{% import "bootstrap/wtf.html" as wtf %}

{% macro print_result(results) %}

{% for i in range (len) %}
<div class="page-body">
	<div class="panel panel-default">
		<div class="panel-heading"><h2>{{results[i]["date"]}}</h2></div>
  		<div class="panel-body">장소: {{ results[i]["location"] }}</div>
  		<div class="panel-body">일정: {{ results[i]["schedules"] }}</div>
	</div>

	<form method="POST" action = "/">
	<input type="hidden" name="name" value={{ results[i]['name'] }}>
	<input name="submit_button" type = "submit" value = "Revise">
	<input name="submit_button" type = "submit" value = "Delete">
	</form>
	
</div>
{% endfor %}

{{ wtf.quick_form(form)}}

{% endmacro %}



<div class = "page-header">
	{{print_result(results)}}
	
</div>





